@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

/* color */
.orange {
  background: #f9b208;
}

.orange:hover {
  background: #f9b108ce;
}

.green {
  background: #71efa3;
}

.green:hover {
  background: #71efa3fa;
}

/* button */
.button-area button {
  font-size: 18px;
  width: 100%;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  /* background: #0d6efd ; */
  padding: 10px 20px;
  margin: 10px;
}

/* width */

.width-700 {
  max-width: 700px;
}

.width-600 {
  width: 600px;
}

.width-500 {
  width: 500px;
}

.width-950 {
  max-width: 950px;
}
